@import url('header.css');
@import url('timer.css');
@import url('tasks.css');
@import url('footer.css');

main{
    margin-bottom: 72px;
}

.container{
    max-width: 1800px;
}

#timer-div{
    padding: 10px;
}

#task-div{
    padding: 10px;
}

.modal-dialog{
    max-width: 1080px;
}

.btn-start,
.btn-stop{
    margin: 3px;
}




