table .btn{
    margin: 0 2px;
    padding: 8px;
}

tr td{
    vertical-align: middle;
}

.task-completed{
    text-decoration: line-through;
}

.task-dark{
    background-color: #BBB;
}

#table-list-body td {
    padding: 5px;
}