.timer-clock{
    text-align: center;
    vertical-align: center;
    height: 100%;
    font-size: 2em;
}

.timer-title{
    text-align: center;
    vertical-align: middle;
}

.timer-card{
    margin-top: 10px;
    margin-bottom: 10px;
}

.trash-timer{
    position: absolute;
    top: 1px;
    right: 1px;
    color: rgb(114, 109, 109);
}

.trash-timer:hover{
    color: red;
}

#timer-list .btn {
    padding: 4px 6px;
    margin: 5px;
    width: 53px;
}

#timer-work-log{
    margin: 3px;
}

#timer-work-log textarea{
    font-size: .8em;
}

#staticBackdrop input{
    margin-right: 5px;
}

.modal-input-div{
    margin-left: 25px;
}

#log-list-body td {
    padding: 5px;
    font-size: .9em;
}

#log-list-body td .btn {
    padding: 4px;
    margin: 0;
}

.mt-0{
    margin-top: 20px;
}